*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#navbar{
    background-color: aquamarine;
    height: 60px;
    width: 100%;
    position: fixed;
}

#navbar a:hover {
    background: white;
  }
ul{
    float: right;
    margin-right: 20px;
    
}
ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    font-size: large;
   
}
h1{
    font-size: 3rem;
    margin: 5%;
}
#welcome-section{
    text-align: center;
    padding: 5%;
    background-color: rgb(49, 226, 102);
    color: rgb(235, 236, 241);
}
#projects a{
    text-decoration: none;
    color: white;
}
#projects{
    text-align: center;
    padding: 10%;
    background-color: rgb(226, 49, 120);
}
#link a{
    text-decoration: none;
    color: white;
}
#link{
    text-align: center;
    padding: 10%;
    background-color: rgb(196, 35, 23);
}
@media all and (max-width: 600px) {
    #navbar {
      flex-flow: column wrap;
      padding: 0;
    }
}